@use '../../styles/variables' as v;

.result-conversion {
  padding: 1rem;
  text-align: center;
  order: 2;
  background-color: v.$color-light;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  &__value {
    font-size: 2rem;
    font-weight: 700;
  }

  &__currency {
    font-size: 1.3rem;
  }
}
