:root {
  --color-primary: #ff7649;
  --color-grey: #555;
  --color-dark: #161616;
  --color-strongdark: #0e0e0e;
  --color-midlight: #eee;
  --color-light: #fafafa;
}

$font: 'League Spartan', Arial, Helvetica, sans-serif;

$delay-fast: 0.2s;
$delay-slow: 1s;
