$color-primary: #e06a42;
$color-alt: #222;
$color-light: #111;

// $color-primary: #e06a42;
// $color-alt: #d3bfba;
// $color-light: #fff;

$font: 'League Spartan', Arial, Helvetica, sans-serif;

$delay-fast: 0.2s;
$delay-slow: 1s;
