@use 'reset';
@use 'fonts';
@use 'variables' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  // background-color: #1d1d1d;
  background-color: var(--color-strongdark);
  // background-color: var(--color-dark);
  font-weight: 300;
  color: var(--color-primary);
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

body.dark-mode {
  background-color: var(--color-midlight);
  color: var(--color-dark);
}

.dark-mode {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.currency-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 0 auto;
}

.spending-power-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin: 0 auto;
}
