@use 'reset';
@use 'fonts';
@use 'variables' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-strongdark);
  font-weight: 300;
  color: var(--color-primary);
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

body.dark-mode {
  background-color: var(--color-midlight);
  color: var(--color-dark);
}

.dark-mode {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.app {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: auto;
}

.currency-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 35%;
}

.spending-power-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 35%;
}

// Tablet + Mobile Responsive

@media (max-width: 900px) {
  .footer {
    margin-top: 20px;
    font-size: 12px;
  }
  .main-container {
    flex-direction: column;
    width: 100%;
  }
  .app {
    padding-top: 60px;
  }
  .currency-container {
    width: 95%;
  }
  .spending-power-container {
    width: 95%;
  }
}
