@use '../../styles/variables' as v;

.currencies-container {
  order: 3;
  overflow: hidden;
}

.currencies {
  // Je dis à mon élément de prendre plus de place que les autres
  flex-grow: 1;

  // Si pas assez de place dans ma liste de currencies
  // Ajoute la scrollbar

  &__title {
    font-weight: 700;

    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }

  &__input {
    background-color: rgb(224, 224, 224);
    width: 100%;
    border-radius: 2rem;
    border: 1px solid v.$color-primary;
    padding: 1rem;
    &:focus {
      outline: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 63vh;
    background-color: v.$color-light;
    border-radius: 0.5rem;
    border: 1px solid v.$color-primary;
  }

  &__item {
    border-top: 1px solid v.$color-primary;
    font-weight: 500;
    transition: background-color v.$delay-slow;

    &:hover {
      background-color: v.$color-alt;
      transition-duration: v.$delay-fast;
    }

    &-btn {
      cursor: pointer;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: inherit;
      width: 100%;
      text-align: left;
    }
  }
}
