@use '../../styles/variables' as v;

.spending-power {
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid var(--color-grey);

  h1,
  h2 {
    color: var(--color-dark);
    margin-bottom: 1.1rem;
    letter-spacing: -1px;
  }

  .purchases {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .purchase {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: var(--color-light);
      padding: 10px;
      border-radius: 8px;

      img {
        width: 40px;
        height: 40px;
      }

      p {
        margin: 0;
        color: var(--color-dark);
      }
    }
  }

  .quick-conversion {
    input {
      width: 100%;
      margin-bottom: 0.5rem;
      color: var(--color-dark);
      background-color: var(--color-light);
      border-color: var(--color-light);
      border: 1px solid var(--color-dark);
      border-radius: 50px;
    }

    input[type='range']::-webkit-slider-runnable-track {
      width: 100%;
      height: 24px;
      cursor: pointer;
    }

    input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      padding: 0 3px;
    }
    /* slider thumb */
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 32px;
      height: 18px;
      background: var(--color-grey);
      border-radius: 50px;
      cursor: pointer;
      margin-top: 3px;
    }
    .amount {
      color: var(--color-dark);
      margin-bottom: 1.4rem;
      margin-right: 2px;
      font-size: 1.3rem;
      text-align: right;
      letter-spacing: -1px;
    }
  }
}
