@use '../../styles/variables' as v;
@use '../../styles/fonts';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 5px 20px 5px 10px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-grey);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  // letter-spacing: -1px;
  color: var(--color-primary);
}

/* style for the dark/light theme toggle button */
.dark-mode-toggle {
  width: 60px;
  height: 24px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: var(--color-light);
  transition: background 0.4s;
}

.dark-mode-toggle:before {
  content: '';
  position: absolute;
  top: 50.5%;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  height: 17px;
  border-radius: 20px;
  background: var(--color-primary);
  transition: left 0.4s, background 0.4s;
  border: none;
}
/* style for the button when it is active */
.dark-mode-toggle.active {
  background: var(--color-primary);
}
.dark-mode-toggle.active:before {
  left: calc(100% - 34px);
  background: var(--color-dark);
  border: none;
}
