@use '../../styles/variables' as v;

.base-amount {
  background-color: v.$color-primary;
  color: v.$color-light;
  text-align: center;
  padding: 1.5rem;
  order: 1;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__value {
    font-size: 1.3rem;
  }
}
