@use '../../styles/variables' as v;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 8px 20px 8px 10px;
  background-color: var(--color-dark);
  color: var(--color-primary);
  border-top: 1px solid var(--color-grey);
  font-size: 0.9rem;
}
